/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: max-content;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    color: #333;
    /* background-color: #f5f5f5; */
    padding: 0 1rem;
    overflow-x: hidden;
}

/* Navigation */
header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1.5rem;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    background-image: url('../assets/images/designAssets/SITE_Illust_HERO.png');
    background-size: cover;
    background-position: right;
    background-color: transparent;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Hero Section */
#title {
    font-size: clamp(1rem, 10vw, 10rem);
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    z-index: 10;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    max-width: 400px;
    margin-bottom: 2rem;
}

.hero-illustration img {
    width: 100%;
    max-width: 600px; /* Ensures image is responsive */
    height: auto;
}

button {
    padding: 2rem;
    border-radius: 100px;
    background-color: rgba(228, 228, 228, 0.75);
    transition: background-color 0.15s ease-in-out, border-radius 0.15s ease-in-out;
    z-index: 100;
}

button:hover {
    background-color: #029cb3;
    border-radius: 0;
}

button:active {
    background-color: red;
}



/* About Section */
#about {
    text-align: center;
    padding: 2rem 0;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    text-align: right;
    padding: 1rem;
    background-color: #222;
    color: white;
    z-index: 10;
}

/* .hero-illustration img {
    animation: float 3s infinite ease-in-out;
} */

#trees {
    height: 500px;
    /* border: 5px solid red; */
    position: absolute;
    bottom: -35px;
    left: 0;
    animation: float 3s infinite cubic-bezier(0.76,-0.19, 0.29, 1.21);
    z-index: 0;

}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.returnCont {
    display: flex;
    justify-content: center;
}

.Return {
    position: fixed;
    bottom: 1rem;
    background-color: #a74918;
    width: 15rem;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 0.5rem;
    color: white;
    font-weight: 200;
    letter-spacing: 0.15rem;
    text-decoration: none;
    font-family: 'Krusty', sans-serif;
    z-index: 200000;
}

/* @media screen and (max-width: 845px) {
    #title {
        font-size: 3rem;
    }

    #trees {
        width: 95vw;
    }
} */