/* General Reset */
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: Krusty;
    src: url(../assets/fonts/krustycraft.otf);
}

.Krusty {
    font-family: 'Krusty', sans-serif;
}

@font-face {
    font-family: Schabo;
    src: url(../assets/fonts/designFonts/SCHABO.woff);
    font-weight: 100;
}

.Schabo {
    font-family: 'Schabo';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, p, blockquote, a, address, img,
strong, table, td, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

.returnCont {
    display: flex;
    justify-content: center;
}

.Return {
    position: fixed;
    bottom: 1rem;
    background-color: #a74918;
    width: 15rem;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 0.5rem;
    color: white;
    font-weight: 200;
    letter-spacing: 0.15rem;
    text-decoration: none;
    font-family: 'Krusty', sans-serif;
    z-index: 200000;
}

.hidden {
    display: none;
}

/* TOCs

1. **Asymmetrical/Experimental**
2. **Brutalist**
3. **Dark Mode**
4. **Flat Design**
5. **Illustration-Led**
6. **Material Design**
7. **Maximalist**
8. **Minimalist**
9. **Neumorphism**
10. **Retro/Vintage**
11. **Skeuomorphic**
12. **Typography-Based**

 */
/* ************************************************************************************************ */
/* 1. Asymmetric Page ==============================================================================*/



.asym_body {
    margin: 1em;
    background-color: #242424;
    color: white;
    line-height: 1.5;
    font-family: sans-serif;
}

.asym_main {
    box-sizing: border-box;
    width: 100%;
}



.asym_buttonCont {
    display: flex;
    justify-content: right;
}

.asym_button {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: white;
    font-size: 1.525rem;
    display: inline-block;
    padding: 0.5rem;
    position: relative;
    margin: 2rem;
}

.asym_button::after {
    content: '';
    position: absolute;
    background-color: #f39c12;
    height: 28%;
    width: 80%;
    bottom: 10px;
    left:-2px;
    z-index: -1;
    transition: all 0.25s cubic-bezier(0.3, -0.89, 0.78, 2.17);
}

.asym_button:hover::after,
.asym_button:focus::after {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 15px;
}

.asym_description {
    padding-top: 2rem;
    line-height: 2;
}

.asym_MainGrid {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto 1fr);
    grid-template-rows: repeat(auto 1fr); */
}

.asym_header {
    display: flex;
}

.asym_logo {
    width: 75px;
    height: 38px;
}

/* Nav Styling */
.asym_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.asym_nav {
    flex-grow: 1;

}

.asym_ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0;
    justify-content: space-around;
}

.asym_ul li {
    padding: 0;
}

.asym_nav li a {
    text-transform: capitalize;

    text-decoration: none;
    color: white;
}

.asym_nav li a:hover {
    color: #f39c12;
}

/* Header & Splash Image */
/* .asym_header {

} */

/* .asym_img {
    position: absolute;
    top: -10rem;
    right: -15rem;
    aspect-ratio: 16/9;
    min-width: 100vw;
    height: auto;
    min-height: 100%;
    z-index: -1;
} */

.asym_img {
    width: 100%;
}

.asym_secondary_images {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;

}

.asym_secondary_image {
    max-width: 50%;
    height: auto;
    flex: 1;
    object-fit: contain;
    padding: .15rem;
}

.asym_title {
   color: #ff7600;
   text-transform: uppercase;
   font-size: clamp(1.75rem, 10vw, 7rem)
}

.asym_location {
    color: #808a96;
    margin: 0;
    font-size: 1.5rem;
    margin: 0 0 2em 0;
}

/* Footer Styling */
.asym_footer {
    background-color: black;
    display: block;
    text-align: center;
    padding: 2rem;
}

.asym_footer div {
    padding: 0.51rem 0;
}

.asym_footer a {
    color: #f39c12;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.asym_footer a:hover {
    color: #fff;
}

.asym_social {
    display: flex;
    justify-content: center;
    width: 100%;
}

.asym_social_link {
    padding: 0 0.55rem;
}

.asym_socialImg {
    height: 2rem;
}


/* ==================================================================================================*/
/* 2. **Brutalist** =================================================================================*/
.brut_body {
    margin: 0;
}

.brut_MainGrid {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto );
}

.brut_header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    overflow-y: hidden;
}

.brut_header_breadCont {
    grid-row: 2 ;
}

.brut_bread {
    height: auto;
    aspect-ratio: 4/3;
    width: clamp(1rem, 100vw, 440px);
    z-index: -2;
}

.brut_header_title {
    grid-row: 3 /4;
    position: relative;
    scroll-behavior: unset;
    display: block;
    width: 100%;
    z-index: 1;
}

.brut_header_title h1 {
    grid-row:  1;
    font-family: "Schabo";
    width: 100%;
    color: rgb(255, 17, 255);
    font-weight: 100;
    font-size: clamp(20px, 19vw, 500px);
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 1;
}

#brut_header_title_bread {
    width: 100%;
    font-size:clamp(1rem, 100vw, 87vw);
    color: red;
    z-index: 0;

}

.brut_logo {
    height: 50px;
}

/* Nav Styling */
.brut_nav {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: .75rem;
    justify-content: space-evenly;
}


.brut_nav a {
    border-radius: 100px;
    padding: clamp(0.5rem, 0.75rem, 2rem);
    rotate: 25deg;
    background-color: white;
    text-decoration: none;
    box-shadow: 5px 5px 0 black;
    color: #242424;
    font-family: "Schabo";
    font-size: 2rem;
    letter-spacing: 0.5rem;
    transition: box-shadow 0.05s ease-out;
}

.brut_nav a:hover {
    color: #f39c12;
}

.brut_nav a:active {
    box-shadow: none;
}

/* Header & Splash Image */
.brut_header {

}

 .brut_mainDiv1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: clamp(5rem, 25vw, 10rem);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.brut_title {
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    
}

.brut_write {
    font-family: monospace;
    font-size: 1.75rem;
    background-color: #ff5e00;
    color: white;
    padding: 1rem 0;
}

.brut_write_highlight {
    /* font-weight: bolder; */
    font-family: fantasy;
}

.brut_secondary_image {
    width: 50vw;
}

/* Footer Styling */
.brut_footer {
    text-align: right;
    width: 100%;
}

.brut_footer a {
    color: #f39c12;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.brut_footer a:hover {
    color: #fff;
}

.brut_social {
    background-color: #ff008c;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    align-items: center;
}

.brut_social_link {
    padding: 1rem;
}

.brut_socialImg {
    height: auto;
    width: 100%;

}

/* 3. **Dark Mode** */
/* 4. **Flat Design** */
/* 5. **Illustration-Led** */
/* 6. **Material Design** */
/* 7. **Maximalist** */
/* 8. **Minimalist** */
/* 9. **Neumorphism** */
/* 10. **Retro/Vintage** */
/* 11. **Skeuomorphic** */
/* 12. **Typography-Based** */

@media only screen and (min-width: 789px) {
    /* ************************************************************************************************ */
/* 1. Asymmetric Page ==============================================================================*/
.returnCont {
    display: flex;
    justify-content: center;
}

.Return {
    position: fixed;
    background-color: #a74918;
    top: 15px;
    right: 15px;
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 0.5rem;
    color: white;
    font-weight: 200;
    letter-spacing: 0.15rem;
    text-decoration: none;
    font-family: 'Krusty', sans-serif;
}


.asym_body {
   margin: 0;
}

.asym_MainGrid {
    margin: 0 auto;
    padding: 0;
   display: grid;
   grid-template-columns:
    minmax(1em, 1rem)
    repeat(3, minmax(9rem, 35rem))
    minmax(1em, 1fr);
    gap: 1em;
   ;
}

.asym_header {
    grid-column: 2 / 4;
}

.asym_main {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

.asym_title {
   grid-column: 1 / 4;
   grid-row: 1;
   font-size: clamp(2rem, 10vw, 12rem);
}


.asym_location {
    align-items: baseline;
    grid-column: 1;
    grid-row: 2;
    font-size: clamp(2rem, 10vw, 3rem);
}

.asym_img {
    grid-column: 2/-1;
    grid-row: 1 / 4;
    z-index: -1;
}

.asym_secondary_images {
    grid-column: 3 / 5;
}

.asym_secondary_image {

}

.asym_description {
    font-size: 1.5em;
    grid-column: 1 / 4;
    grid-row: 3;
}

.asym_buttonCont {
    grid-row: 4;
    justify-content: center;
    align-items: center;
}

.asym_button {
    font-size: 3rem;
}


/* Footer Styling */
.asym_footer {
   grid-column: 2 / -1;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}

.asym_footer div {

}

.asym_footer a {

}

.asym_footer a:hover {

}

.asym_social {
}

.asym_social_link {
}

.asym_socialImg {

}


/* ==================================================================================================*/
/* 2. **Brutalist** =================================================================================*/
.brut_body {
    margin: 0;
}


.brut_header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
    overflow-y: hidden;
}



/* Nav Styling */
.brut_nav {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: .75rem;
    justify-content: space-evenly;
    z-index: 10000;
}


.brut_nav a {
    border-radius: 100px;
    padding: clamp(0.5rem, 0.75rem, 2rem);
    rotate: 25deg;
    background-color: white;
    text-decoration: none;
    box-shadow: 2px 2px 0 black;
}

.brut_nav a:hover {
    color: #f39c12;
}

.brut_header_breadCont {
    grid-row: 2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 500px;
}

.brut_bread {
    height: auto;
    aspect-ratio: 4/3;
    width: clamp(1rem, 100vw, 1034px);
    z-index: -2;
}

.brut_header_title {
    grid-row: 3 /4;
    position: relative;
    scroll-behavior: unset;
    display: block;
    width: 100%;
    z-index: 1;
    /* top: 200px; */
}

.brut_header_title h1 {
    grid-row:  1;
    font-family: "Schabo";
    width: 100%;
    color: rgb(255, 17, 255);
    font-weight: 100;
    font-size: clamp(20px, 19vw, 1004px);
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 1;
}

#brut_header_title_bread {
    width: 100%;
    font-size:clamp(1rem, 100vw, 87vw);
    color: red;
    z-index: 0;

}

.brut_logo {
    height: 50px;
}



/* Header & Splash Image */
.brut_header {

}

 .brut_mainDiv1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: clamp(5rem, 25vw, 10rem);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.brut_title {
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    
}

.brut_write {
    font-family: monospace;
    font-size: 1.75rem;
    background-color: #ff5e00;
    color: white;
    padding: 1rem 0;
}

.brut_write_highlight {
    /* font-weight: bolder; */
    font-family: fantasy;
}

.brut_secondary_image {
    width: 50vw;
}

/* Footer Styling */
.brut_footer {
    text-align: right;
    width: 100%;
}

.brut_footer a {
    color: #f39c12;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.brut_footer a:hover {
    color: #fff;
}

.brut_social {
    background-color: #ff008c;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    align-items: center;
    overflow-y: hidden;

}

.brut_social_link {
    padding: 1rem;
}

.brut_socialImg {
    height: auto;
    width: 100%;

}
/* 3. **Dark Mode** */
/* 4. **Flat Design** */
/* 5. **Illustration-Led** */
/* 6. **Material Design** */
/* 7. **Maximalist** */
/* 8. **Minimalist** */
/* 9. **Neumorphism** */
/* 10. **Retro/Vintage** */
/* 11. **Skeuomorphic** */
/* 12. **Typography-Based** */
}

@media only screen and (min-width: 1223px) {
.brut_header_breadCont {
    justify-content: right;
}

.brut_header_title {
    font-size: 1215px;

}
#brut_header_title_bread {
    font-size:1200px;
}
}