@font-face {
    font-family: Nauman;
    src: url(../assets/fonts/Nauman-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: Onoma;
    src: url(../assets/fonts/Onoma.otf);
}

@font-face {
    font-family: Qielftan;
    src: url(../assets/fonts/Qielftan.otf);
}

@font-face {
    font-family: ZTBoldItalic;
    src: url(../assets/fonts/ZTNeueRalewe-BoldItalic.ttf);
}

@font-face {
    font-family: ZTMed;
    src: url(../assets/fonts/ZTNeueRalewe-Medium.ttf);
}

@font-face {
    font-family: ZTExtBd;
    src: url(../assets/fonts/ZTNeueRalewe-ExtraBold.ttf);
}

@font-face {
    font-family: ZTExtBdItlc;
    src: url(../assets/fonts/ZTNeueRalewe-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: CaviarDreams;
    src: url(../assets/fonts/CaviarDreams.ttf);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

* {
    box-sizing: border-box;
}

html {
    background-color: #faecca;
}

body {
    height:auto;
}

header, footer  {
    font-family: 'Playfair', sans-serif;
    background-color: #172c16;
    color: #f4e7c5;
    
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 0.5fr;
    border-radius: 15px 15px 0 0;
}

#header1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

#header2 {
    grid-column: 4;
    grid-row: 1;
}

#header3 {
    grid-column: 2 / span 4;
    grid-row: 2;
}

footer {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 15px 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    list-style: none;
    font-size: 1.5rem;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Qielftan', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #080511;
}


h1 {
    font-size: 5rem;
    font-family: 'Playfair', serif;
    margin: 0;
    padding: 0.5rem;
}

h2 {
    font-family: 'Nauman', monospace;
}

a {
    transition: all ease-in-out 0.5s;
    padding: 0.5rem;
    text-decoration: none;
}

a:hover {
    background-color: #f7f3e9;
    color: #080511;
    border-radius: 20px;
    margin: 0;
}

.headerImageCont {
    height: 100%;
    width: auto;
    display: flex;
    align-content: center;
}

#logoImage {
    border-radius: 15px 0 0 0;
    margin: -0.5rem;
    width: auto;
    height: 230px;
}

.content {
    animation: fadeIn 1s ease-in-out;

}

.hidden { display: none; }
.selected { font-weight: bold; }

.flexRow {
    display: flex;
    flex-direction: row;

}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexGrew {
    flex-grow: 1;
}

.Logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 3.5rem;

}

.Logo h1 {
    padding: 0;
    margin: 0;
    color: #f4e7c5;
}

.underNav {
    background-color: #f4e7c5;
    height: 150px;
    width: 105%;
    margin: 0 -10px;
    padding: 0;
}
/* ========================================================= Universals ====================== */

.aligned {
    display: flex;
    align-items: center;
}

.yearAccordion {
    width: 100%;
    margin: 0 0;
    padding: 2rem;
    cursor: pointer;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #172c16;
    padding: 2rem;
    margin: 0;
    cursor: pointer;
    border-radius: 2rem 2rem 0 0;
    
}

.accordion-header h2 {
    color: white;
    font-family: 'Playfair', serif;
    font-size: 2.5rem;
}

.accordion-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid #ccc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #f9f9f9;
    border-radius: 0 0 2rem 2rem;
}

.accordion-content.show {
    max-height: none; 
}

.accordion-content.hide {
    max-height: 0; 
}

.invoiceCard {
    display: block;
    text-align: center;
    height: max-content;
    font-size: 1rem;
    margin: 1rem;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 whitesmoke;
    border-radius: 25px;
    transition: box-shadow 0.75s ease-in-out;
}

.invoiceCard:hover {
    box-shadow: 12px 12px 12px rgba(0,0,0,0.1), -10px -10px 12px white;
}

.invoiceStatusGreen {
    color: green;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.downArrow {
    height: 100%;
    transition: transform 2s ;
    transition-timing-function: linear(0, 0.457 2.1%, 0.751 3.9%, 0.856 4.8%, 0.923 5.6%, 0.97 6.5%, 0.981 6.9%, 0.986 7.4%, 0.984 7.8%, 0.974 8.3%, 0.934 9.2%, 0.87 10.1%, 0.776 11.1%, 0.557 12.9%, -0.039 17.2%, -0.295 19.5%, -0.385 20.6%, -0.445 21.6%, -0.486 22.6%, -0.498 23.1%, -0.505 23.6%, -0.508 24%, -0.507 24.4%, -0.497 25.2%, -0.476 26%, -0.442 26.9%, -0.338 28.8%, -0.038 33.2%, 0.085 35.3%, 0.139 36.5%, 0.18 37.7%, 0.205 38.8%, 0.214 39.4%, 0.22 40%, 0.222 40.8%, 0.219 41.6%, 0.211 42.4%, 0.197 43.3%, 0.156 45.1%, 0.033 49.4%, -0.018 51.5%, -0.041 52.7%, -0.057 53.8%, -0.069 54.9%, -0.076 56.1%, -0.078 56.9%, -0.077 57.7%, -0.07 59.5%, -0.057 61.3%, -0.019 65.3%, -0.002 67.3%, 0.011 69.5%, 0.017 71.7%, 0.019 73.3%, 0.018 75.1%, 0.003 82.1%, -0.001 85.8%, 0);
}

.downArrow:hover {
    transform: translateY(10px);
}

.backgrounded {
    background-image: url(../assets/images/A&E_backsplash.png);
}

.bordered {
    border: 5px solid #080511;
}

.bRadius {
    border-radius: 65px;
}

.headered, .footered  {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair', sans-serif;
    background-color: #080511;
    color: #f4e7c5;
}

.headered {
    border-radius: 15px 15px 0 0;
}

.footered {
    border-radius: 0 0 15px 15px;
}

.justLeft {
    justify-content: left;
}

.justRight {
    justify-content: right;
}

.justCenter {
    justify-content: center;
}

.justSpaceAround {
    justify-content: space-around;
}

.justSpaceBetween {
    justify-content: space-between;
}

.lightcard {
    background-color: #f7f3e9;
}

.overHidded {
    overflow: hidden;
}

.padded {
    margin: 0;
    padding: 1rem;
}

.pBase {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'CaviarDreams', sans-serif;
}

.selected {
    background-color: #f7f3e9;
    color: #080511;
    border-radius: 20px 20px 0 0;
    padding: 1rem;
    margin: 0;
}

.shadowed {
    box-shadow: 2px 4px 15px #080511;
}

.textCenter {
    text-align: center;
}

.textL {
    color: #f4e7c5;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.widthed {
    width: 100%;
}

.messageDiv {
    border: 2px solid black;
}

.boxBorder {
    border: solid 2px black;
}