@font-face {
    font-family: Nauman;
    src: url(../assets/fonts/Nauman-Regular.ttf);
}

@font-face {
    font-family: KaviarBeluga;
    src: url(../assets/fonts/KaviarBeluga.ttf);
}

@font-face {
    font-family: Onoma;
    src: url(../assets/fonts/Onoma.otf);
}

@font-face {
    font-family: Qielftan;
    src: url(../assets/fonts/Qielftan.otf);
}


html {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    font-family: 'KaviarBeluga', sans-serif;
    background-color: rgb(8, 5, 17);
    color: white;
    border-radius: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    list-style: none;
    font-size: 3rem;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Qielftan', sans-serif;
}


h1 {
    font-size: 5rem;
}

h2 {
    font-family: 'Onoma', serif;
}

.Logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 3.5rem;
}